<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40796654795-k3f6fgbummsnenmc8l3ckaafghhvni9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40796654795-k3f6fgbummsnenmc8l3ckaafghhvni9d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>40796654795-4hnrlhf2kich2r75n8ekabqano366a1r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCL5BjH7q9ftHxjjWnRzVSHgf2P48nSSfI</string>
	<key>GCM_SENDER_ID</key>
	<string>40796654795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.intern</string>
	<key>PROJECT_ID</key>
	<string>grocery-app-df3a4</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-app-df3a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40796654795:ios:8d914edcb64dfec7079f4e</string>
	<key>DATABASE_URL</key>
	<string>https://grocery-app-df3a4-default-rtdb.firebaseio.com</string>
</dict>
</plist>